# PANDAS ASSIGNMENT

In [28]:
import pandas as pd
import numpy as np

In [29]:
#1.Create and display a one-dimensional array-like object containing an array of data.

In [30]:
data = pd.Series([11,22,33,44,55,66,77])
print(data)

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int64

In [31]:
#2.Convert a Panda module Series to Python list and itâ€™s type.

In [32]:
data = pd.Series([11,22,33,44,55,66,77])
l1 = data.tolist()
print(data)
print(f"Type of l1 = {type(data)}\n")
print(l1)
print(f"Type of l1 = {type(l1)}")

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int64
Type of l1 = <class 'pandas.core.series.Series'>

[11, 22, 33, 44, 55, 66, 77]
Type of l1 = <class 'list'>

In [33]:
#3.Add, subtract, multiple and divide two Pandas Series.

In [34]:
data1 = pd.Series([2,4,6,8,10])
data2 = pd.Series([1,3,5,7,9])
print(f"Addition of two series is : \n{data1+data2}\n")
print(f"Substraction of two series is : \n{data1-data2}\n")
print(f"Multiplication of two series is : \n{data1*data2}\n")
print(f"Division of two series is : \n{data1/data2}\n")

Addition of two series is :
0     3
1     7
2    11
3    15
4    19
dtype: int64

Substraction of two series is :
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication of two series is :
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division of two series is :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [35]:
#4.Convert a dictionary to a Pandas series.

In [36]:
dict1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(dict1)
print(f"Type of Dictionary = {type(dict1)}\n")
series = pd.Series(dict1)
print(series)
print(f"Type of series = {type(series)}")

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Type of Dictionary = <class 'dict'>

a    100
b    200
c    300
d    400
e    800
dtype: int64
Type of series = <class 'pandas.core.series.Series'>

In [41]:
#5.Convert a NumPy array to a Pandas series.

In [42]:
numpy_arr = np.array([10, 20, 30, 40, 50])
print(numpy_arr)
print(f"Type of numpy array = {type(numpy_arr)}\n")
series = pd.Series(numpy_arr)
print(series)
print(f"Type of series = {type(series)}")

[10 20 30 40 50]
Type of numpy array = <class 'numpy.ndarray'>

0    10
1    20
2    30
3    40
4    50
dtype: int64
Type of series = <class 'pandas.core.series.Series'>

In [43]:
#6.Change the data type of given a column or a Series.

In [44]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}

df = pd.DataFrame(data)
print("Original data types:")
print(df.dtypes)
df['Age'] = df['Age'].astype('float64')
df['Salary'] = df['Salary'].astype('int64')
print("\nUpdated data types:")
print(df.dtypes)

Original data types:
Name      object
Age        int64
Salary     int64
dtype: object

Updated data types:
Name       object
Age       float64
Salary      int64
dtype: object

In [45]:
#7.Convert a given Series to an array.

In [46]:
series = pd.Series([1, 2, 3, 4, 5])
array = series.to_numpy()

print("Pandas Series:")
print(series)
print("\nNumPy Array:")
print(array)
print("\nType of array:", type(array))

Pandas Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

NumPy Array:
[1 2 3 4 5]

Type of array: <class 'numpy.ndarray'>

In [47]:
#8.Create a dataframe from a dictionary and display it.

In [48]:
data = {
    'Name': ['Ramya', 'Aabhay', 'Harsh', 'Mayuresh', 'Saurabh', 'Sudarshan'],
    'Age': [25, 23, 25, 25, 23, 24],
    'Salary': [80000, 60000, 70000, 80000, 55000, 65000]
}
df = pd.DataFrame(data)
print(df)

        Name  Age  Salary
0      Ramya   25   80000
1     Aabhay   23   60000
2      Harsh   25   70000
3   Mayuresh   25   80000
4    Saurabh   23   55000
5  Sudarshan   24   65000

In [58]:
empids = [701, 702, 703, 704, 705, 706, 707, 708, 709, 710]
names = ['Abhay', 'Pranav', 'Omkar', 'Sandesh', 'Mayuresh', 'Rutuja', 'Ankita', 'Muskan', 'Aniket', 'Jitendra']
emp_series = pd.Series(names, index=empids)
print(emp_series)

print("\nType of Series:", type(emp_series))
print('\n')

emp_df = pd.DataFrame({'Name': emp_series})
print(emp_df)
print('\n')

print(emp_df.head())
print('\n')

print(emp_df.tail())
print('\n')

print(emp_df.head(2))
print('\n')

print(emp_df.tail(2))
print('\n')

print(emp_df.iloc[4]['Name'])
print('\n')

print(emp_df.loc[704])
print('\n')

emp_df.to_csv('MyRecord.csv', index=False)

701       Abhay
702      Pranav
703       Omkar
704     Sandesh
705    Mayuresh
706      Rutuja
707      Ankita
708      Muskan
709      Aniket
710    Jitendra
dtype: object

Type of Series: <class 'pandas.core.series.Series'>


         Name
701     Abhay
702    Pranav
703     Omkar
704   Sandesh
705  Mayuresh
706    Rutuja
707    Ankita
708    Muskan
709    Aniket
710  Jitendra


         Name
701     Abhay
702    Pranav
703     Omkar
704   Sandesh
705  Mayuresh


         Name
706    Rutuja
707    Ankita
708    Muskan
709    Aniket
710  Jitendra


       Name
701   Abhay
702  Pranav


         Name
709    Aniket
710  Jitendra


Mayuresh


Name    Sandesh
Name: 704, dtype: object

In [60]:
emp1_df = pd.read_csv('MyRecord.csv')
emp1_df['Salary'] = [50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000]
print(emp1_df)

       Name  Salary
0     Abhay   50000
1    Pranav   55000
2     Omkar   60000
3   Sandesh   65000
4  Mayuresh   70000
5    Rutuja   75000
6    Ankita   80000
7    Muskan   85000
8    Aniket   90000
9  Jitendra   95000